button {
  margin-top: 2vh;
  text-transform: uppercase;
  align-self: flex-end;
  padding: 1em 1.5em;
  border-radius: 6px;
  background-color: rgb(40, 214, 214);
  outline: none;
  border: none;
  cursor: pointer;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  filter: brightness(90%);
}
