.login-title {
  margin-top: 5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  opacity: 80%;
  margin: 4rem;
  border-radius: 3px;
  width: 20%;
  padding: 1vh 1vw 3vh 1vw;
}

.login-form::placeholder {
  color: grey;
}
