img {
  width: 20%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 1),
    0px -2px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 1),
    0px -2px 0px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 1),
    0px -2px 0px 0px rgba(255, 255, 255, 1);
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

img:hover {
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
  cursor: pointer;
  box-shadow: none;
}
