.message-container {
  display: flex;
  height: 50%;
}

.message-container span {
  display: flex;
  margin-top: 1em;
}

.error {
  color: red;
}

.exclamation-triangle {
  padding-left: 5%;
  font-size: large;
}

.neutral {
  color: gray;
}

.successful {
  margin-top: 7px;
  color: rgb(49, 157, 45);
  font-size: large;
  display: flex;
  font-weight: bold;
}
